.title {
	margin-top: 1em;
}
.contact-form-widget {
	margin-left: 0;
	margin-top: 1em;
	max-width: 500px;
	padding: 0;
	width: 100%;
	height: auto;
}

.contact-form-email,
.contact-form-email-message,
.contact-form-name {
	max-width: 100%;
	width: 100%;
	transition: .3s linear;
}

.contact-form-email,
.contact-form-name {
	font-size: 15px;
	background: #fafafa;
	border-bottom: 3px solid #03a9f4;
	box-sizing: border-box;
	color: #888;
	display: inline-block;
	height: 40px;
	margin: 0;
	margin-top: 5px;
	padding: 10px;
	vertical-align: top;
	transition: .3s linear;
	border-top: none;
	border-right: none;
	border-left: none;
}

.contact-form-email-message {
	font-family: Roboto;
	font-size: 15px;
	background: #fafafa;
	border-bottom: 3px solid #03a9f4;
	box-sizing: border-box;
	color: #888;
	display: inline-block;
	margin: 0;
	margin-top: 5px;
	padding: 10px;
	vertical-align: top;
	transition: .3s linear;
	border-top: none;
	border-right: none;
	border-left: none;
	resize: none;
}

.contact-form-email:hover,
.contact-form-name:hover,
.contact-form-email-message:hover {
	border-bottom: 3px solid orange;
	outline: none;
	box-shadow: none;
	transition: .3s linear;
	background: none;
	border-top: none;
	border-right: none;
	border-left: none;
}

.contact-form-email:focus,
.contact-form-name:focus,
.contact-form-email-message:focus {
	background: #fafafa;
	border-bottom: 3px solid orange;
	color: #666;
	outline: none;
	box-shadow: none;
	border-top: none;
	border-right: none;
	border-left: none;
}
form {
	color: #999;
}

.contact-form-button-submit {
	transition: .3s linear;
	box-shadow: none;
	text-transform: none;
	padding: 10px 20px 7px 20px;
	border: none;
	height: 40px;
	margin: 20px 0 0 0;
	float: left;
	background: #03a9f4;
	border-bottom: 3px solid #029ce3;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 15px;
	border-radius: 3px;
}

.contact-form-button-submit:hover,
.contact-form-button-submit:focus {
	background-color: #029ce3;
	background-image: none;
	border-bottom: 3px solid #0292d4;
	outline: none;
	color: #fff;
	cursor: pointer;
	transition: .3s linear;
	border-top: none;
	border-right: none;
	border-left: none;
}
.nama,
.email,
.pesan {
	text-align: left;
}
