.title {
	margin-top: 1em;
}
.wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 20px;
}
.contact-form {
	max-width: 550px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.8);
	padding: 30px;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.input-fields {
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}
.input-fields,
.msg {
	width: 48%;
}
.input-fields .input,
.msg textarea {
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #c5ecfd;
	padding: 10px;
	color: #c5ecfd;
	width: 100%;
	max-height: 178px;
}
textarea {
	height: 202px;
}
::-webkit-input-placeholder,
::-moz-input-placeholder,
::-ms-input-placeholder {
	color: #c5ecfd;
}
.btn {
	background: #39b7dd;
	text-align: center;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	width: 100%;
	font-weight: 500;
	border: 3px solid #39b7dd;
}
.btn:hover {
	background: #fff;
	color: #39b7dd;
}
@@media screen and (max-width: 600px) {
	.contact-form {
		flex-direction: column;
	}
	.msg textarea {
		height: 80px;
	}
}
