.title {
	margin-top: 1em;
}

.second-div {
	height: 100vh;
	padding: 4em 0 0 0;
}
.second-div img {
	margin-top: 20px;
	height: 105px;
	width: 105px;
}
.centered3 {
	text-align: center;
	margin-top: 5em;
}
.centered4 span {
	font-size: 130%;
	border-bottom: 2px solid black;
	display: block;
	margin: 20px 0 20px 0;
}
@media only screen and (max-width: 600px) {
	.centered3 {
		margin-top: 0em;
	}
}
.ul {
	list-style-type: none;
	padding: 0;
	border: none;
}
.ul li {
	padding: 8px 16px;
	border-bottom: 2px solid #ddd;
}

.card {
	position: relative;
	height: 450px;
	width: 900px;
	margin: 60px auto;
	background-color: #fff;
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Image on the left side */
.thumbnail {
	float: left;
	position: relative;
	left: 30px;
	top: -30px;
	height: 320px;
	width: 530px;
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
img.left {
	position: relative;
	left: 50%;
	top: 50%;
	height: 100%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
	margin-left: 590px;
	margin-top: -200px;
	margin-right: 20px;
}

.h11 {
	padding-top: 0px;
	font-size: 1.3rem;
	color: #4b4b4b;
	text-align: center;
}

.author {
	background-color: #9ecaff;
	height: 30px;
	width: 160px;
	border-radius: 9px;
	margin: 0 auto;
}
.h22 {
	padding-top: 8px;
	margin-right: 6px;
	text-align: center;
	font-size: 0.8rem;
}

.separator {
	margin-top: 10px;
	border: 1px solid #c3c3c3;
}

.p {
	text-align: justify;
	padding-top: 10px;
	font-size: 0.95rem;
	line-height: 150%;
	color: #4b4b4b;
}
