@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


@-ms-viewport{width:device-width;zoom: 1;}

@-0-viewport{width:device-width;zoom: 1;}

@viewport{width:device-width:zoom: 1;}

body {
  
  font-family: "Roboto", sans-serif;
  background-image: url("https://css-tricks.com/wp-content/uploads/2017/09/radial-gradient.png");
  background-repeat: no-repeat;

}

.image1 {
  max-width: 100%;
  height: auto;
}

.ul 
{
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

.ul li 
{
  padding: 8px 16px;
  border-bottom: 2px solid #ddd;
}

.ul li:last-child 
{
  border-bottom: none
}

.h1
{
	text-align:center;
	font-size: 6rem;
}

.h2
{
	text-align: center;
}

.h3
{
	margin-left: 20px;
}

/* The card */
.card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover; */
/*object-position: center; */
img.left {
  position: relative;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

.h11 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
  text-align: center;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 90px;
  border-radius: 9px;
  margin: 0 auto;
}

.author > img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.h22 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

.p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}



/* DATE of release */
h5 {
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #C3C3C3;
}

h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

.p2
{
	position: absolute;
	left: 105px;
	bottom: 8px;
	font-size: 1rem;
	color: #616060
}
