@media screen and (max-width: 600px) {
	.card__background--main {
		float: none;
		width: 100%;
		height: 100%;
		margin-top: 5em;
	}
}

body {
	background: rgb(255, 255, 255);
}
.first-div{
    background: url(../images/header-cover.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 992px) {
    .first-div::after{
        content: '';
        position: absolute;
        bottom: 0px;
        width: 100vw;
        background-image: url(../images/wave-bottom.svg);
        height: 260px;
        transform: scaleX(-1);
    }
}
.title {
	margin-top: 5em;
}
.first-div img {
	margin: 0;
	height: 12em;
	width: 12em;
}
.centered1 {
	text-align: center;
}
.centered2 span {
	font-size: 260%;
	border-bottom: 2px solid rgb(255, 255, 255);
	display: block;
	margin: 20px 0 20px 0;
}
@media only screen and (max-width: 576px) {
	.centered1 {
		margin-top: 5em !important;
        margin-bottom: 0em !important;
	}
}
@media only screen and (max-width: 768px) {
    .first-div img {
        margin: 0px;
        height: 8em;
        width: 8em;
    }
    .centered2 span {
        font-size: 200%;
        border-bottom: 2px solid rgb(255, 255, 255);
        display: block;
        margin: 0px 0 20px 0;
    }
}
.ul {
	list-style-type: none;
	padding: 0px;
	border: none;
}

.ul li {
	padding: 8px 16px;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.p {
	text-align: justify;
	padding-top: 10px;
	font-size: 0.95rem;
	line-height: 150%;
	color: #4b4b4b;
}

@media (min-width: 768px) {
    .card{
        height: 500px;
    }
}

@media (max-width: 768px) {
    .first-small{
        border: none !important;
    }
}


/*    Scroll */
.scroll-down-dude {
	position: absolute;
	bottom: 0;
	left: 50%;
	padding-bottom: 3em;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .scroll-down-dude {
        display: none;
    }
}

.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 3px solid rgb(0, 0, 0);
	border-right: 3px solid rgb(0, 0, 0);
}

@media screen and (max-width: 992px) {
    .scroll-down-dude:before,
    .scroll-down-dude:after {
	border-bottom: 3px solid rgb(255, 255, 255);
	border-right: 3px solid rgb(255, 255, 255);
}
}

.scroll-down-dude:before {
	-webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-dude:after {
	-webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes down-arrow-before {
	50% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-before {
	50% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@-webkit-keyframes down-arrow-after {
	50% {
		-webkit-transform: rotate(45deg) translate(110%, 110%);
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		-webkit-transform: rotate(45deg) translate(-130%, -130%);
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(-70%, -70%);
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}

@keyframes down-arrow-after {
	50% {
		-webkit-transform: rotate(45deg) translate(110%, 110%);
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		-webkit-transform: rotate(45deg) translate(-130%, -130%);
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(-70%, -70%);
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}
/* end  Scroll */